.history {
	margin: 20px;

	li {
		margin-bottom: 20px;
	}

	.name {
		font-weight: 700;
		display: inline-block;
		min-width: 30%;

	}

	.category {
		font-size: 0.8em;
		color: lightgray;
	}

	.price {
		float: right;
		font-weight: 700;
	}

	.income {
		color: $green;
	}

	.expense {
		color: $red;
	}
}