.historycenter {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.addTransaction {
		display: flex;
		align-items: center;

		&:hover {
			color: $green;
		}
	}
	
	span.fa {
		font-size: 1.3em;
	}

	.button_desc {
		margin-left: 10px;
	}

	.budget {
		font-size: 2em;
		font-weight: 900;
		color: $green;

	}
}

.add_panel_background {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0,0,0, 0.5);
	z-index:1;
	display: none;
}

.add_form {
	width: 80vw;
	height: 80vw;
	position: absolute;
	top: 10vw;
	left: 10vw;
	z-index: 2;
	background-color: #fff;
	opacity: 1;
	border-radius: 20px;

	span {
		float: right;
		font-size: 2em;
		margin: 10px 10px 0 0;
	}

}