<div class="historycenter">
	<div class="addTransaction" ng-click="vm.removeCustomClass()">
		<span class="fa fa-plus"></span>
		<span class="button_desc">Add</span>
	</div>
	<div class="budget">
		<span>$1920.90</span>
	</div>
	
</div>
<div class="add_panel_background hidden" id="panel">
	<div class="add_form">
		<span class="fa fa-times" ng-click="vm.addCustomClass()"></span>
		<div class="form">
			<div class="inputs">
				<label class="label_inputs"> Name </label>
				<input class="input" type="text" ng-model="vm.name">
				<label class="label_inputs"> Category </label>
				<input type="text" ng-model="vm.category">
				<label class="label_inputs"> Price </label>
				<input type="text" ng-model="vm.price">
			</div>
			<div class="buttons">
				<button class="income" ng-click="vm.addIncome()">Income</button>
				<button class="expense" ng-click="vm.addExpense()">Expense</button>
			</div>
			
			
		</div>
	</div>
</div>
	

	